<!DOCTYPE html>
<html>
<head>
    <title>Shopping Cart</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<center><br><br>
    <h4>Hi {{ request.user }}, this is Your Cart</h4>

    {% if cart_items %}
        <ul class="product-container">
            {% for item in cart_items %}
                <li class="product-card">
                    {{ item.product.name }} - ${{ item.product.price }} x {{ item.quantity }} = ${{ item.total_price }}

                    <form method="POST" action="{% url 'update_cart' item.id %}">
                        {% csrf_token %}
                        <input type="number" name="quantity" value="{{ item.quantity }}" min="1">
                        <div >
                        <button type="submit" class="perfect-btn">Update</button>
                        <a href="{% url 'remove_from_cart' item.id %}" class="perfect-btn">Remove</a>
                        </div>
                    </form>
<!--                    <a href="{% url 'remove_from_cart' item.id %}" class="perfect-btn">Remove</a>-->
                </li>
            {% endfor %}
        </ul>

        <h3>Total Price: ${{ total_price }}</h3>

        <!-- Proceed to Checkout -->
        <a href="{% url 'checkout' %}" class="perfect-btn">Proceed to Checkout</a>
        <a href="{% url 'product_list' %}" class="perfect-btn"> Back to product-list</a>

    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
    </center>
</body>
</html>
