<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<center>
    <div class="register-header">
    <img src="https://cdn-icons-png.flaticon.com/256/2635/2635078.png" alt="UV Logo" class="logo">
    <h1>Login UV Super mart</h1>
    </div>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="POST" class="form-container">
        {% csrf_token %}
        <label>Username:</label>
        <input type="text" name="username" required><br><br>
        <label>Password:</label>
        <input type="password" name="password" required><br><br>
        <button type="submit" class="perfect-btn">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}" class="perfect-btn">Register here</a></p>
</center>
</body>
</html>
