<!DOCTYPE html>
<html>
<head>
    <title>{{ product.name }}</title>
    <title>Products</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<center><br><br>
    <div class="product-card product-detail-card">
        <h1>{{ product.name }}</h1>
        <p>{{ product.description }}</p>
        <p>Price: ${{ product.price }}</p>
        <p>Stock: {{ product.stock }}</p>
        <div>
            <a href="{% url 'product_list' %}" class="perfect-btn">Back to Product List</a>
            <form action="{% url 'add_to_cart' product.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="quantity" value="1">  <!-- Default quantity = 1 -->
                <button type="submit" class="perfect-btn">Add to Cart</button>
            </form>
        </div>
    </div>
</center>
</body>
</html>
